*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 403px;
    width: 200px;
    background: url(../imagens/frame-iphone_resized.png);
    background-repeat: no-repeat;
    
}

#tela{

        position: relative;
        top: 50px;
        left: 14px;
        height:310px;
        width: 173px;
        background-size: cover;
}
#redes-sociais{
    text-align: right;
    padding: 20px;
}
#redes-sociais img:hover{
    border: 2px solid white;
}
section > a,img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
 
}